{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>New Recipe - Scrumptious</title>
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'home' %}">Scrumptious</a>
                    </li>
                    <li>
                        <a href="{% url 'tags_list' %}">Tags</a>
                    </li>
                    <li>
                        <a href="{% url 'meal_plan_list' %}">Meal Plans</a>
                    </li>
                    <li>
                        <a href="{% url 'recipe_new' %}">Write a recipe</a>
                    </li>
                    {% if user.is_staff %}
                        <li>
                            <a href="{% url 'admin:index' %}">Admin</a>
                        </li>
                    {% endif %}
                    <li>
                        {% if user.is_authenticated %}
                            <li>
                                <a href="{% url 'logout' %}">Logout</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url 'login' %}">Login</a>
                            </li>
                        {% endif %}
                    </li>
                </ul>
            </nav>
            {% if user.is_authenticated %}<h1>Greetings, {{ user.username }}</h1>{% endif %}
        </header>
        <main>
            {% block tag_list %}
            {% endblock tag_list %}
            {% block tag_new %}
            {% endblock tag_new %}
            {% block tag_edit %}
            {% endblock tag_edit %}
            {% block tag_delete %}
            {% endblock tag_delete %}
            {% block tag_detail %}
            {% endblock tag_detail %}
            {% block list %}
            {% endblock list %}
            {% block content %}
            {% endblock content %}
            {% block detail %}
            {% endblock detail %}
            {% block delete %}
            {% endblock delete %}
            {% block new %}
            {% endblock new %}
            {% block meal_new %}
            {% endblock meal_new %}
            {% block meal_list %}
            {% endblock meal_list %}
            {% block meal_detail %}
            {% endblock meal_detail %}
        </main>
    </body>
    <footer>
        {% block pagination %}
        {% endblock pagination %}
    </footer>
</html>
